.form {
  position: relative;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 80px;
  padding-bottom: 90px;
}

.search {
  display: flex;
}

.boxs {
  flex-basis: 210%;
} 

.titles {
  width: 100%;
  height: 40px;
  background: #E2E8F0;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  position: static;
  height: 40px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-weight: 500;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  font-feature-settings: 'tnum' on, 'lnum' on;
}