.form {
  position: relative;
  /* height: 100vh;
  overflow: hidden; */
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 80px;
  padding-bottom: 90px;
}

.search {
  display: flex;
}

.boxs {
  flex-basis: 210%;
} 

.titles {
  width: 100%;
  height: 40px;
  background: #E2E8F0;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  position: static;
  height: 40px;
  left: 0px;
  top: 0px;
  font-family: Inter;
  font-weight: 500;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
}

.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 24px;
}

.paginationBttns a {
  padding: 9px 15px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
}

.paginationActive a {
  border: 1px solid #0F172A;
}

.previousBttn {
  background: #0F172A;;
  color: #fff;
  margin-right: 5px;
  align-items: center;
}

.nextBttn {
  background: #0F172A;;
  margin-left: 5px;
  color: #fff;
  align-items: center;
}