.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 25px;
  border: 1px solid #E2E8F0;
  box-sizing: border-box;
  border-radius: 2px;
}

.container::placeholder {
  font-size: 12px;
  color: #94A3B8;
}

.input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.input:focus {
  border: none;
  outline: none;
  flex: none;
  order: 0;
  flex-grow: 1;
}