@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');
@import "styles/reset.css";

.App {
  max-width: 1920px;
  height: 100%;
  margin:0 auto;
  font-family: 'Inter', sans-serif;
}
